el-get/
eshell/
auto-save-list/
elpa/
lang/*/*.el
backups/
*~undo-tree~.gz
ac-comphist.dat
eww-bookmarks
history
my-init.el
modules/*.el
modules/*.elc
modules/.previous-modules
projectile-bookmarks.eld
tramp
url/*
workgroups
semanticdb/
session*
server/*
projectile.cache
org
org/
auto-save/*
var/*
custom.el
*private*
bookmarks
image-dired/*
.python-environments/*
/.emacs.desktop
.compiled/
*.elc
.disabled-local-vars
irony/
.downloads/
.modules
malinka-projects.el
edts
abbrev_defs
.emacs.desktop.lock
/.deft/
request/
trello/
/org-clock-save.el
/.org-id-locations
.yas-compiled-snippets.el
/geben/
/tutorial/
/ido.last
/recentf
/smex-items
/ede-projects.el
/srecode-map.el
/cedet/
/.sx/
/etc/unxutils/
