el-get/
eshell/
auto-save-list/
elpa/
lang/*/*.el
backups/
*~undo-tree~.gz
ac-comphist.dat
eww-bookmarks
history
iqbal-init.el
modules/*.el
modules/*.elc
projectile-bookmarks.eld
tramp
url/*
workgroups
semanticdb/
session*
server/*
projectile.cache
org/
auto-save/*
var/*
custom.el
private*
bookmarks